<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831022416581-h436364q1vt0rfucfajkat7764fnk46p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831022416581-h436364q1vt0rfucfajkat7764fnk46p</string>
	<key>API_KEY</key>
	<string>AIzaSyDd-Tl8xbWN0pUP2e6YhOpXIx0Ucd8_zJo</string>
	<key>GCM_SENDER_ID</key>
	<string>831022416581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.usc.hqvu.buddle</string>
	<key>PROJECT_ID</key>
	<string>buddle-286ec</string>
	<key>STORAGE_BUCKET</key>
	<string>buddle-286ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831022416581:ios:d76ff5d5aaf5b13b7b66ac</string>
</dict>
</plist>